/* @import "catppuccin/themes/latte.css"; */
@import "catppuccin/themes/frappe.css";
/* @import "catppuccin/themes/mocha.css"; */
/* @import "catppuccin/themes/macchiato.css"; */

* {
	font-family: Cartograph CF Nerd Font, monospace;
	font-weight: bold;
	font-size: 11px;
	color: @text;
}

window#waybar { 
  background: transparent;
	border: none;
}

tooltip {
	background: #1e1e2e;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: #11111b;
}

#workspaces button {
	color: @blue;
  border-color: @blue;
}

#workspaces button.active {
	color: @green;
  border-color: @green;
}

#workspaces button.urgent {
	color: @red;
  border-color: @red;
}

#workspaces button:hover {
}

#window,
#clock,
#bluetooth,
#workspaces button,
#pulseaudio,
#memory,
#cpu,
#temperature,
#network,
#tray {
  border-radius: 7px;
	border-width: 1.5px;
	border-style: solid;
	background: @base;
	margin: 2px 5px;
	padding: 0 8px;
}

#memory {
  color: @lavender;
  border-color: @lavender;
}

#workspaces, #bluetooth {
  color: @peach;
  border-color: @peach;
}

#window { }

#clock                 { border-color: @saphire  ; color: @sapphire ;}
#cpu                   { border-color: @yello    ; color: @yellow   ;}
#memory                { border-color: @flamingo ; color: @flamingo ;}
#cpu                   { border-color: @sky      ; color: @sky      ;}
#network               { border-color: @lavender ; color: @lavender ;}
#pulseaudio            { border-color: @blue     ; color: @blue     ;}
#pulseaudio.microphone { border-color: @blue     ; color: @blue     ;}
