/* Copied from https://github.com/developer-vivek/Gruvminimal-Dots */

window {
  font-family: '0xProto Nerd Font Mono', monospace;
  font-size: 12pt;
  color: #cdd6f4; 
  border: none;
  background-color: rgba(30, 30, 46, .69);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  border: none;
  color: #fbf1c7;
  text-shadow: none;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(1, 121, 111, 0);
  margin: 5px;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
  background-color: rgba(213, 196, 161, 0.1);
}

#lock {
  background-image: image(url("icons/lock.png"));
}

/* #lock:focus { */
/*   background-image: image(url("icons/lock-hover.png")); */
/* } */
/**/
#logout {
  background-image: image(url("icons/logout.png"));
}

/* #logout:focus { */
/*   background-image: image(url("icons/logout-hover.png")); */
/* } */
/**/
#suspend {
  background-image: image(url("icons/sleep.png"));
} 

/* #suspend:focus { */
/*   background-image: image(url("icons/sleep-hover.png")); */
/* } */
/**/
#shutdown {
  background-image: image(url("icons/power.png"));
}

/* #shutdown:focus { */
/*   background-image: image(url("icons/power-hover.png")); */
/* } */
/**/

#reboot {
  background-image: image(url("icons/restart.png"));
}

/**/
/* #reboot:focus { */
/*   background-image: image(url("icons/restart-hover.png")); */
/* } */

#hibernate {
  background-image: image(url("icons/clock.png"));
}
